#hd { background-color:#187a7a; }
.block .hd { background-color:#187a7a; color:#fff; border-bottom:10px solid #262626; }
.block .bd h2 { color:#187a7a; }
.block .bd h3 { color:#187a7a; }
.spaces .hd { background-color:transparent; }
.spaces .hd ul li { background-color:#187a7a; }
a { color:#187a7a; }
