#hd { background-color:#5D0265; }
.block .hd { background-color:#5D0265; color:#fff; border-bottom:10px solid #262626; }
.block .bd h2 { color:#5D0265; }
.block .bd h3 { color:#5D0265; }
.spaces .hd { background-color:transparent; }
.spaces .hd ul li { background-color:#5D0265; }
a { color:#5D0265; }
